@model CompositeHealthCheckResult
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Overall status: <em>@Model.CheckStatus</em></h1>

    <br />

    @{ await Html.RenderPartialAsync("StatusTable", Model.Results); }
</div>
