@model CompositeHealthCheckResult
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h6 class="pull-right">Elapsed time: @( ViewBag.ExecutionTime.Milliseconds )ms</h6>
    <h1>Overall status: <em>@Model.CheckStatus</em></h1>

    <br />

    @{ await Html.RenderPartialAsync("StatusTable", Model.Results); }

    <br />

    <a href="health">API endpoint</a>
</div>
